img{
    width: 100px;
    border-radius: 50px;
}
body{
    background-color: rgb(129, 129, 240);
    text-align: center;
}
.head{
    text-align: center;
}
.btn{
    text-align: center;
    width: 40%;
    border-radius: 10px;
}
.cgpa{
    text-align: center;
}
.load1{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode1{
    width: 13%;
    border-radius: 10px;
}
.point1{
    width: 9%;
    border-radius: 10px;
}
.grade1{
    border-radius: 10px;
}

.load2{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode2{
    width: 13%;
    border-radius: 10px;
}
.point2{
    width: 9%;
    border-radius: 10px;
}
.grade2{
    border-radius: 10px;
}

.load3{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode3{
    width: 13%;
    border-radius: 10px;
}
.point3{
    width: 9%;
    border-radius: 10px;
}
.grade3{
    border-radius: 10px;
}

.load4{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode4{
    width: 13%;
    border-radius: 10px;
}
.point4{
    width: 9%;
    border-radius: 10px;
}
.grade4{
    border-radius: 10px;
}

.load5{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode5{
    width: 13%;
    border-radius: 10px;
}
.point5{
    width: 9%;
    border-radius: 10px;
}
.grade5{
    border-radius: 10px;
}

.load6{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode6{
    width: 13%;
    border-radius: 9px;
}
.point6{
    width: 9%;
    border-radius: 10px;
}
.grade6{
    border-radius: 10px;
}

.load7{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode7{
    width: 13%;
    border-radius: 10px;
}
.point7{
    width: 9%;
    border-radius: 10px;
}
.grade7{
    border-radius: 10px;
}

.load8{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode8{
    width: 13%;
    border-radius: 10px;
}
.point8{
    width: 9%;
    border-radius: 10px;
}
.grade8{
    border-radius: 10px;
}

.load9{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode9{
    width: 13%;
    border-radius: 10px;
}
.point9{
    width: 9%;
    border-radius: 10px;
}
.grade9{
    border-radius: 10px;
}

.load10{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode10{
    width: 13%;
    border-radius: 10px;
}
.point10{
    width: 9%;
    border-radius: 10px;
}
.grade10{
    border-radius: 10px;
}

.load11{
    width: 14%;
    border-radius: 10px;
    
}
.courseCode11{
    width: 13%;
    border-radius: 10px;
}
.point11{
    width: 9%;
    border-radius: 10px;
}
.grade11{
    border-radius: 10px;
}
.cgpa{
    border-radius: 10px;
}
.cgpa4{
    border-radius: 10px;
}